body{
    background-color: #000;
    margin: 0;
    padding: 0;
    color: #242424;
    font-family: sans-serif;
    word-wrap: break-word;
    overflow: break-word;
    letter-spacing: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
    color: #000;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

main {
    display: block;
    background-color: #000;
}

.container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;
}

section.module {
    margin-bottom: 40px;
}

section.module:last-child {
    margin-bottom: 0;
}

section.module h2 {
    margin-bottom: 40px;
    font-size: 30px;
}

section.module.content {
    padding: 40px 0;
    background-color: #000
}

section.module.content img{
    width: 300px;
}

section.module.parallax {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    overflow: hidden;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}

section.module.parallax::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0,0,0,0) 40%, #000 100%);
    background: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0,0,0,0) 40%, #000 100%);
    background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0,0,0,0) 40%, #000 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0,0,0,0) 40%, #000 100%);
}

section.module.parallax-1 {
    background-image: url("https://images.pexels.com/photos/5382600/pexels-photo-5382600.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

section.module.parallax-2 {
    background-image: url("https://images.pexels.com/photos/573238/pexels-photo-573238.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

section.module.parallax-3 {
    background-image: url("https://images.pexels.com/photos/980859/pexels-photo-980859.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

h2 {
    text-align: center;
    color: #fff;
}